@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*{
    font-family: 'Instrument Sans', sans-serif;
}
.text-checked{
  color: #72c25a;
}
.checked{
    color: #72c25a;
    animation: check 0.2s ease forwards;
}
@keyframes check{
  0%{

    border-left: 0px solid #72c25a;
  }
  100%{
    border: 1px solid #72c25a;
    border-left: 14px solid #72c25a;

  }
}
.box {
  width: 1em;
  height: 1em;
  background-color: rgb(245, 248, 255);
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.box:checked {
  background-color: #72c25a;
}

/* O ✔ aparece ao marcar */
.box:checked::after {
  content: "✔";
  color: white;
  font-size: 0.75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}








